.sideBar_option {
  display: flex;
  align-items: center;
  height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 10px;
  cursor: pointer;
  color: gray;
}
.sideBar_option:hover,
.sidebar_active,
.sidebar_active > p,
.sideBar_option:hover > h3,
.sideBar_option:hover > p {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800 !important;
}

.sideBar_option > .MuiSvgIcon-root {
  padding: 5px;
}
.sideBar_option > h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}
.sideBar_option > p {
  display: none;
  font-weight: 300;
}

.sideBar_option:hover > p {
  display: inline;
}

.sidebar_active > p {
  display: inline !important;
}
.sidebar_active:hover > p {
  display: inline;
}
